* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
    text-decoration: none;
    /* text-transform: capitalize; */
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
  
.heading span {
    color: #ff0000;
    opacity: 0.8;
}

.btn {
    display: inline-block;
    border-radius: 1rem;
    background-color: #ff0000;
    color: #fff;
    opacity: 0.43;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
  }

body{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

form {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    width: 50rem;
    padding: 2rem;
    text-align: center;
  }
  
form .box {
    display: block;
    width: 100%;
    padding: 0.7rem;
    text-decoration: none;
    border: 0.1rem solid #666;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    text-transform: none;
  }
  
form .box:focus {
    border-color: #ff0000;
}
  
form .btn {
    width: 100%;
}
  
form p {
    margin-top: 1rem;
    font-size: 1.1rem;
}
  
p a {
    color: #ff0000;
    opacity: 0.8;
    cursor: pointer;
}

.userId{
    padding: 1.5rem 0;
    text-align: left;
    background-color: black;
}

/* .userId span{
    color: #ff0000;
} */